*{
    padding: 0px;
    margin: 0px;
}

.s1, .s2, .sst1{
    padding: 10px 25vw;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    
}

.s1{
    display:grid;
grid-template-columns:4fr 1fr 1fr 1fr 1fr;
font-size: 20px;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
}

.s2{
    background-color: #F1F3F4;
    color: #2c3233;
    padding-top: 50px;
    padding-bottom: 50px;

}
button{
   
   
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 0 0 #000;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 35px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
}
.ad12{
    display:grid;
grid-template-columns:1fr 1fr;
padding:40px 0px 20px 0px;
font-size: 20px;
}
.ra4{
    text-align: center;
}
.sst1{
    background-color: #F1F3F4;
    padding: 10px 30px 10px 20px ;   
}
.s2 h1{
    font-size: 30px;
    padding-bottom: 50px;
}